{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="hero">
    <h2>Вы можете изменить что-то к лучшему!</h2>
    <p>Студенты могут описать свои идеи, прикрепить фото и голосовать за инициативы.</p>
    <a href="{% url 'initiatives_create' %}" class="btn">Предложить инициативу</a>
</div>

<h2>Недавние инициативы</h2>

{% for el in initiatives %}
<div class="initiative">
    <h3>{{ el.title }}</h3>
    <p>{{ el.description|truncatewords:30 }}</p>
    {% if el.images.all %}
        <div class="images-gallery">
            {% for image in el.images.all|slice:":3" %}
                <div class="image-container">
                    <img src="{{ image.image.url }}" alt="{{ el.title }}"style="width: 150px; height: auto;">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
    <p>Голосов: {{ el.votes }}</p>
    <p>Создано: {{ el.submission_date|date:"Y-m-d H:i" }}</p>
    <a href="{% url 'initiative-detail' el.id %}" class="btn">Подробнее</a>
    </div>
{% endfor %}
{% endblock %}
