{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ initiative.title }}{% endblock %}

{% block content %}
<div class="initiative-detail">
    <h2>{{ initiative.title }}</h2>
    Автор:
    <a href="{% url 'user_profile' initiative.user.id %}" class="user-profile-link">
         {{ initiative.user.first_name }} {{ initiative.user.last_name }}
    </a>
    <p><strong>Описание:</strong></p>
    <p>{{ initiative.description }}</p>
    <p><strong>Изображения:</strong></p>
    {% if initiative.images.all %}
        <div class="images-gallery">
            {% for image in initiative.images.all %}
                <div class="image-container">
                    <img src="{{ image.image.url }}" alt="{{ initiative.title }}" class="image-small" onclick="openImage(this)">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Изображений нет.</p>
    {% endif %}

    <script>
        // Функция для открытия изображения в модальном окне
        function openImage(image) {
            var modal = document.getElementById('modal');
            var modalImage = document.getElementById('modalImage');
            modal.style.display = "flex";
            modalImage.src = image.src;
        }
    
        // Функция для закрытия модального окна
        function closeImage() {
            var modal = document.getElementById('modal');
            modal.style.display = "none";
        }
    </script>
    
    <div id="modal" class="modal" onclick="closeImage()">
        <img id="modalImage" class="modal-content" />
    </div>
    <p><strong>Голосов:</strong> {{ initiative.votes }}</p>
    

    {% if user.is_authenticated %}
    <div class="button-container">
        {% if initiative.status == 'approved' %}  <!-- Проверка статуса инициативы --> 
        <form action="{% url 'vote_initiative' initiative.id %}" method="POST">
            {% csrf_token %}
            {% if user in initiative.voted_users.all %}
                <button type="submit" class="btn">Отменить голос</button>
            {% else %}
                <button type="submit" class="btn">Проголосовать</button>
            {% endif %}
        </form>
        {% endif %}
        
        {% if is_moderator %}
            {% if initiative.status == 'pending' or initiative.status == 'rejected' or initiative.status == 'inactive' %}
                <a href="{% url 'review_initiatives' %}" class="btn">К списку инициатив</a>
            {% elif initiative.status == 'approved' %}
                <a href="{% url 'home' %}" class="btn" class="float:right" >К списку инициатив</a>
            {% elif initiative.status == 'winner' %}
                <a href="{% url 'winners' %}" class="btn">К списку инициатив</a>
            {% endif %}
        
            
            
        {% elif not is_moderator %}
            {% if initiative.status == 'pending' or initiative.status == 'rejected' or initiative.status == 'inactive' %}
                <a href="{% url 'user_initiatives' user.id %}" class="btn">К моим инициатив</a>
            {% elif initiative.status == 'approved' %}
                <a href="{% url 'home' %}" class="btn">К списку инициатив</a>
                <a href="{% url 'user_initiatives' user.id %}" class="btn">К моим инициатив</a>
            {% elif initiative.status == 'winner' %}
                <a href="{% url 'winners' %}" class="btn">К списку инициатив</a>
            {% endif %}
        {% endif %}
    </div>
        {% if is_moderator %}
            {% if initiative.status == 'winner' %}
                <form action="{% url 'add_update' initiative.id %}" method="post" enctype="multipart/form-data" class="add-update-form">
                    
                    {% csrf_token %}
                    <label>Добавить обновление:</label>
                    <textarea name="description"></textarea>
                    
                    <input type="file" name="images" multiple>
                    <button type="submit" class="btn">Отправить</button>
                </form>
            {% endif %}
        {% endif %}

        {% for update in initiative.updates.all %}
            <div class="update-container">
                <p class="timestamp"><strong>{{ update.timestamp|date:"Y-m-d H:i" }}</strong></p>
                <p lass="description">{{ update.description }}</p>
                <div class="images-gallery">
                    {% for image in update.images.all %}
                    <div class="image-container">
                        <img src="{{ image.image.url }}" alt="Обновление изображения">
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        
        {% if initiative.status == 'approved' or initiative.status == 'winner' %} 
            <div class="comment-form">
                <h3>Оставить комментарий:</h3>
                <form action="{% url 'add_comment' initiative.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <button type="submit" class="btn">Отправить</button>
                </form>
            </div>
        {% endif %}

        
        
        <h3>Комментарии:</h3>
        {% for comment in comments %}
            <div class="comment">
                <img src="{{ comment.user.profile.avatar.url }}" alt="Avatar" class="avatar">
                <div class="comment-content">
                    <a href="{% url 'user_profile' comment.user.id %}" class="username">
                        {{ comment.user.first_name }} {{ comment.user.last_name }}
                    </a>
                    <p class="text">{{ comment.content }}</p>
                </div>
            </div>
        {% empty %}
            <p>Нет комментариев.</p>
        {% endfor %}
        
    {% else %}
        <p><a href="{% url 'home' %}" class="btn">К списку инициатив</a></p>    
        <p>Чтобы проголосовать или оставить комментарий, пожалуйста, <a href="{% url 'login' %}">войдите</a>.</p>
    {% endif %}
</div>
{% endblock %}
