{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Профиль пользователя</h2>

    <div class="profile-details">
        <img src="{{ avatar }}" alt="Avatar"/>
        
        {% if user_profile.user.first_name %}
        <p><strong>Имя:</strong> {{ user_profile.user.first_name }}</p>
        {% endif %}
        
        {% if user_profile.user.last_name %}
        <p><strong>Фамилия:</strong> {{ user_profile.user.last_name }}</p>
        {% endif %}
        
        {% if user_profile.user.email %}
        <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
        {% endif %}
        
        {% if user_profile.phone %}
        <p><strong>Телефон:</strong> {{ user_profile.phone }}</p>
        {% endif %}
        
        {% if user_profile.course %}
        <p><strong>Курс:</strong> {{ user_profile.course }}</p>
        {% endif %}
        
        {% if user_profile.institute_number %}
        <p><strong>Номер института:</strong> {{ user_profile.institute_number }}</p>
        {% endif %}
        
        {% if user_profile.group %}
        <p><strong>Группа:</strong> {{ user_profile.group }}</p>
        {% endif %}
        
        {% if user_profile.about %}
        <p><strong>О себе:</strong> {{ user_profile.about }}</p>
        {% endif %}
        
        <p><strong>Роль:</strong> {{ user_profile.get_role_display }}</p>
    </div>
    <div class="button-container">
        {% if user == user_profile.user %}
            <a href="{% url 'profile_edit' %}" class="btn">Редактировать профиль</a>
        {% endif %}
            <a href="{% url 'home' %}" class="btn">Назад к главной</a>
    </div>
</div>
{% endblock %}
